@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.button {
  height: 35px;
  width: 130px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 20px;
  background-color: rgb(26, 22, 22);
  color: #ebebeb;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0px 4px rgba(26, 22, 22, 0.1);
}

.main-heading {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  margin: 10px auto;
  margin-top: 40px;
  text-decoration: underline;
}

#cart-container {
  position: fixed;
  top: 50%;
  right: 0;
  width: 130px;
  height: 130px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#cart-img {
  width: 80px;
  height: 80px;
}

.make-white {
  color: white;
  text-decoration: none;
}
