section {
  padding-top: 100px;
}
#items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#items > div {
  margin: 20px 0px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

#items figcaption {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 28px;
}

.button-extra {
  margin-left: 35%;
  width: 400px;
  margin-bottom: 20px;
  transition: opacity 300ms 0s;
}

.button-extra:hover {
  cursor: pointer;
  opacity: 0.7;
}
